html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
}
#dealer-msg {
    font-weight: bold;
    font-size: larger;
}
#cards-container {
    height: 300px;
    display: flex;
}
button {
    padding: 10px;
}